@import '../../sass/variable';
.modal{
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
    &__content{
        position: absolute;
        width: 49.34%;
        height: auto;
        background-color: $color-white;
        top:$px230;
        left: 50%;
        display: flex;
        text-align: center;
        padding-left: $px40;
        transform: translate(-50%,-180%);
        opacity: 0;
        transition: all 1s ease;
        padding: $px30;
        &-img{
            height: $px337;
            width: $px164;
            margin-right: $px66;
            img{
                object-fit: scale-down;
            }
        }
        &-title{
            font-size: 3rem;
            margin-top: $px80;
            white-space: nowrap;
        }
        &-text{
            font-size: $r-1-4;
            color: $color-smokegrey;
            line-height: 150%;
            margin-top: $px13;
            span{
                display: block;
            }
        }
        &-btn{
            margin-top: $px25;
            input{
                padding: $px10 $px50;
                font-size: $r-1-4;
                text-transform: uppercase;
                letter-spacing:$px1;
                background-color: $color-border;
                color: $color-black;
                font-weight: 200;
                border: none;
                transform: translateY($px1);
                &:hover{
                    cursor: pointer;
                    background-color: $color-gold;
                    color: $color-white;
                }
            }
        }
    }
    &__close{
        position: absolute;
        top: 0;
        left: 100%;
        color: $color-white;
        font-family: $sub-font;
        font-weight: 100;
        font-size: $px50;
        background-color: initial;
        border: none;
        transform: translate(50%,-100%);
        &:hover{
            cursor: pointer;
            color: $color-gold;
        }
    }
}
#UpdateModal.toggleSignupModal{
    visibility: visible;
    .modal__content{
        transform: translate(-50%,0);
        opacity: 1;
    }
}
@media all and (max-width:$breakpoint-lg){
    .modal{
        &__content{
            width: 80%;
        }
    }
}
@media all and (max-width:$breakpoint-sm){
    .modal{
        &__content{
            display: initial;
            &-img{
                display: none;
            }
        }
    }
}