@import '../../../sass/variable';
@mixin button {
    text-align: center;
    color: $color-white;
    text-transform: capitalize;
    font-size: $r-1-8;
    padding: $px10 0;
    width: $px100;
    border: none;
    &:hover{
        background-color: $color-blue;
    }
}
.admUser{
    min-height: 600px;
    &__action{
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
            font-size: $r-1-5;
            padding: $px5 $px10;
            border: none;
            border-bottom: $px2 solid $color-white;
            color: $color-smokegrey;
            transition: all .15s ease;
            &::placeholder{
                font-style: italic;
                font-size: $r-1-3;
                opacity: 0.5;
            }
            &:focus{
                border-color: $color-blue;
            }
        }
    }
    &__add{
        display: inline-block;
        padding: $px10 $px15;
        margin: $px20 0;
        border: none;
        border-radius: $px5;
        background-color: $color-blue;
        text-transform: capitalize;
        i{
            font-size: $r-1-8;
            color: $color-grey-blue;
            &::before{
                margin-right: $px10;
            }
        }
        &:hover{
            i{
                color: $color-white;
            }
        }
    }
    table{
        background-color: $color-secondary;
        border-collapse: collapse;
        width: 100%;
        td,th{
            border: $px1 solid $color-border;
            padding: $px10 $px10;
            font-size: $r-1-4;
        }
        tr{
            td{
                &:nth-child(7){
                    text-align: center;
                }
            }
            a{
                display: inline-block;
                background-color: $color-green;
                margin-right: $px20;
                @include button();
            }
            button{
                background-color: $color-google;
                @include button();
            }
        }
        img{
            width: 145px;
            height: 148px;
            object-fit: scale-down;
            display: block;
            margin: 0 auto;
        }
    }
}