@import '../../sass/mixin';
@import '../../sass/variable';
@include setProductRow;

.recent-view{
    text-align: center;
    &__title{
        font-size: 3rem;
        text-transform: uppercase;
        padding: $px40 0;
    }

}
@media all and (max-width:$breakpoint-lg){
    .recent-view{
        margin-top: 200px;
    }
}
